*{
    box-sizing: border-box;
}

body{
    background: azure;
}

.content-center{
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
}

.content-center .text-center{
    text-align: center;
}

.content-center img{
    width: 70%;

}
.content-center form{
    margin: 20px; 
}
.content-center input,
.content-center button{
    width: 100%;
    padding: 10px 5px;
}
