*{
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
}

.content-center{
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
}

.content-center .text-center{
    text-align: center;
}

.content-center img{
    width: 70%;

}
.content-center form{
    margin: 20px; 
}
.content-center input,
.content-center button{
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input{
    border-bottom-color: #8f4fe49c;;
    border-bottom-style: solid; 
    border-bottom-width: 2px;
    margin-bottom: 10px;
}
